.DS_Store
Research/out/production/Research/.idea/workspace.xml
FinalCalendarActivity/.idea/workspace.xml
CalendarTutorialAndroidStudio-WeeklyCalendar/.idea/checkstyle-idea.xml
CalendarTutorialAndroidStudio-WeeklyCalendar/.idea/misc.xml
CalendarTutorialAndroidStudio-WeeklyCalendar/.idea/misc.xml
